.roadmap__item{
    color: #000000;
    text-align: left;
    line-height:1.3125rem;
    font-weight: 400;
    position: relative;
    font-size: 14px;
  }
.roadmap__item.roadmap__item-home {
    opacity: 0.5;
  }
.roadmap__line-1 {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 0.0625rem 0 0 0;
    flex-shrink: 0;
    width: 0.824375rem;
    height: 0rem;
    position: relative;
    transform: rotate(117.051deg) scale(1, 1);
}
.cart {
    width: 80%;
    margin: 80px auto 0;
    /* padding: 20px; */
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 16px;
    position: relative;
    font-weight: 400;
}

.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart th, .cart td {
    padding: 10px;
    text-align: center;
}

.cart th {
    background-color: #f2f2f2;
    font-weight: normal;
}

.cart td img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.cart input[type="number"] {
    width: 60px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cart .item__describe-price__new {
    font-weight: normal;
}

.cart td:last-child {
    color: #d9534f;
    cursor: pointer;
}

.cart td:last-child:hover {
    color: #c9302c;
}
