.list-and-hot-item{
    /* position: absolute;
    top: 182px;
    width: 217px;
    height: 344px;
    left: 10%;
    gap: 16px;
    opacity: 0px; */
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    position: relative;
    top: 45px;
    left: -1.5%;

}

.list-and-hot-item__container{
    /* width: 1330px; */
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    

}

.items-menu{
    list-style: none;
    /* padding-left: 100px; */
    top: -27px;
    /* left: 10%;
    position: absolute; */
    position: relative;
}

.set-item-classification{

}

.item-classification{
    width: 150px;
    height: 24px;
    display: block;
    text-decoration: none;
    color: #000000;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    /* position: absolute; */
    margin-bottom: 15px;


}

.see-more{

}
/* 
.items-menu::after{
    content: "";
    height: 103%;
    top: -8%;
    left: 250px;
    gap: 0px;
    border: 0.5px 0px 0px 0px;
    opacity: 0.3px;
    border-left: 0.5px solid #000000;
    position: absolute;
} */

.vertical-line{
    width: 1px;
    height: 384px;
    top: -45px;
    left: -0%;
    gap: 0px;
    border: 0.5px 0px 0px 0px;
    opacity: 0.3px;
    border: 0.5px solid #AFAFAF;
    position: relative;

}

.hot-item{
    width: 100%;
    max-width: 892px;
    /* width: max-content; */
    height: 344px;
    flex-wrap: wrap;
    /* gap: 0px;
    opacity: 0px; */
    /* position: relative;   */
    /* transform: translateX(-10%); */
    /* top: 15px; */
    background-color: #000000;
    /* right: -5%; */
    /* margin-left: 70px; */
    display: flex;
    overflow: hidden;
    top: -5px;
    left: 0;
    position: relative;

}




.hot-item__describe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    

    width: 300px;
    top: 58px;
    left: 64px;

    /* position: absolute; */

    
}

.brand--logo{
    width: 300px;
    height: 49px;
    top: 58px;
    left: 64px;
    gap: 24px;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: absolute;
    

}   

.set-logo{
    width: 40px;
    height: 49px;
    gap: 0px;
    opacity: 0px;

    
}

.set-name{
    width: 136px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FAFAFA;
}

.hot-item__discount{
    width: 250px;
    height: 120px;
    top: 135px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0.04em;
    color: #FAFAFA;
    left: 64px;    

    position: absolute;

        
}

.apple-shopnow__layout{
    width: 113px;
    height: 28px;
    top: 285px;
    left: 67px;
    gap: 8px;
    opacity: 0px;
    text-decoration: none;
    color: #FAFAFA;
    display: flex;
    font-size: 16px;
    font-weight:lighter;
    font-family: Poppins;
    align-items: center;
    position: absolute;

    
}

.apple-shopnow{
    width: 81px;
    height: 28px;
    gap: 4px;
    opacity: 0px;
    position: relative  ;
    color: #FAFAFA;
    text-decoration: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    
}

.apple-shopnow::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #FAFAFA;
    top: 100%;
    left: 0;
    color: #FAFAFA;

}
.set-arrow-right{
    width: 16.5px;
    height: 14px;
    top: 5px;
    left: 3.5px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
}


.set-img-ip14{
    width: 496px;
    height: 352px;
    top: 16px;
    left: 396px;
    gap: 0px;
    opacity: 0px;

    position: absolute;
    

}


                            /* today */


.flashsales-today-container{
    /* width: 1308px; */
    width: 100%;
    height: 493px;
    top: 666px;
    /* left: 182px; */
    gap: 40px;

    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    
}

.temp{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.flashsales-today__heading{
    /* width: 1170px; */
    width: 100%;
    height: 103px;
    gap: 470px;

    display: flex;
    justify-content: space-evenly;
    align-items: end;

    
}

.flashsales-time-container{
    width: 600px;
    height: 103px;
    gap: 87px;
    opacity: 0px;
    
    display: flex;
    justify-content: space-between;
    align-items: end;

    padding: 0


}

.flashsales-today{
    width: 211px;
    height: 103px;
    gap: 24px;
    opacity: 0px;
    
    display: flex;
    flex-direction: column;

}

.heading__topic{
    width: 100px;
    height: 40px;
    gap: 16px;
    opacity: 0px;
    
    display: flex;
    align-items: center;
}

.topic-thing{
    width: 20px;
    height: 40px;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
    background: #DB4444;    
}

.topic-today{
    width: 64px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #DB4444;    
}

.heading__flashsales{
    width: 211px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Inter';
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #000000;

        
}

.flashsales-time{
    width: 302px;
    height: 50px;
    gap: 0px;
    opacity: 0px;

    display: flex;
    justify-content: space-between;
    top: 5px;
    position: relative;
    

    
}

.flashsales-time__days{
    width: 46px;
    height: 50px;
    gap: 4px;
    opacity: 0px;
    
}



.flashsales__days{
    width: 31px;
    height: 18px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
        
}

.flashsales-set_days{
    width: 46px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: left;
        
}
.twodots{
    width: 4px;
    height: 16px;
    top: 20px;
    /* left: 63px; */
    opacity: 0px;
    color: #DB4444;
    font-size: 25px;
    display: flex;
    position: relative;
    
}

.flashsales-time__hours{
    width: 42px;
    height: 50px;
    left: 84px;
    gap: 4px;
    opacity: 0px;
    
}

.flashsales__hours{
    width: 35px;
    height: 18px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
        
}



.flashsales-set_hours{
    width: 43px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: left;
        
}
.flashsales-time__minutes{
    width: 49px;
    height: 50px;
    left: 164px;
    gap: 4px;
    opacity: 0px;
    
}

.flashsales__minutes{
    width: 49px;
    height: 18px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
        
}

.flashsales-set_minutes{
    width: 39px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: left;
        
}

.flashsales-time__seconds{
    width: 51px;
    height: 50px;
    left: 251px;
    gap: 4px;
    opacity: 0px;
    
}

.flashsales__seconds{
    width: 52px;
    height: 18px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
        
}

.flashsales-set_seconds{
    width: 44px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: left;
        
}
/* 
.flashsales-topic{

} */


.arrow-container{
    width: 100px;
    height: 46px;
    gap: 8px;
    opacity: 0px;
    /* display: flex; */
    
}

.arrow__left{
    width: 46px;
    height: 46px;
    gap: 0px;
    opacity: 0px;
    
}

.arrow__right{
    width: 46px;
    height: 46px;
    gap: 0px;
    opacity: 0px;
    
}

                    /*item  */

.flashsales-today__items-max-width{
    width: 100%;
    height: 350px;
    /* position: relative; */
    display: flex;
    /* overflow: hidden; */
    position: relative;
    overflow: hidden;
   

}              

.flashsales-today__items{
    width: 1308px;
    height: 350px;
    gap: 30px;
    opacity: 0px;
    /* position: relative; */
    display: flex;
    /* overflow: hidden; */
    position: relative;
    float: left;
    left: 10%;
    /* overflow: hidden; */

    

}

.flashsales-today__item{
    width: 270px;
    height: 350px;
    gap: 16px;
    opacity: 0px;
    
    display: flex;
    flex-direction: column;
    position: relative;


}

.bg-item{
    width: 270px;
    height: 250px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bg-item-contain{
    width: 190px;
    height: 180px;
    top: 35px;
    left: 40px;
    padding: 14px 9px 14px 9px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    
}

.bg-item-contain-pic{
    width: 172px;
    height: 152px;
    top: 14px;
    left: 9px;
    gap: 0px;
    opacity: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.flashsales-today__item-discount{
    width: 55px;
    height: 26px;
    top: 12px;
    left: 12px;
    padding: 4px 12px 4px 12px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background: #DB4444;
    color: #FAFAFA;    

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.flashsales-today__item-favourite-seen{
    width: 34px;
    height: 76px;
    top: 12px;
    left: 224px;
    gap: 8px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    position: absolute;

    
}

.flashsales-today__item-favourite{
    width: 34px;
    height: 34px;
    gap: 0px;
    opacity: 0px;
    cursor: pointer;
}

.flashsales-today__item-seen{
    width: 34px;
    height: 34px;
    gap: 0px;
    opacity: 0px;
    cursor: pointer;
    
}



.desbribe-item{
    width: 201px;
    height: 84px;
    gap: 8px;
    opacity: 0px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    
}

.desbribe-item__name{
    width: 201px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    
    
}

.describe-item__price{
    width: 85px;
    height: 24px;
    gap: 12px;
    opacity: 0px;
    display: flex;
    
}

.desbribe-item__price-now{
    width: 36px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #DB4444;
}

.desbribe-item__price-old{
    width: 37px;
    height: 24px;
    gap: 0px;
    opacity: 0.5px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #808080;
    text-decoration: line-through;
        
}

.flashsales-today-addtochart{
    width: 270px;
    height: 41px;
    top: 209px;
    gap: 0px;
    border-radius: 0px 0px 4px 4px;
    opacity: 0px;
    background: #000000;
    color: #FAFAFA;    
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

    position: absolute;
    cursor: pointer;

}

.describe-item__rate{
    width: 140px;
    height: 20px;
    gap: 8px;
    opacity: 0px;
    display: flex;
    
}

.rate-by-star{
    width: 100px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    
}

.amount-rate{
    width: 32px;
    height: 20px;
    gap: 0px;
    opacity: 0.5px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    color: #808080;

        
}

.btn-flashsales{
    width: 234px;
    height: 56px;
    top: 1219px;
    /* left: 666px; */
    /* padding: 16px 48px 16px 48px; */
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background: #DB4444;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
        

    display: flex;
    align-items: center;
    justify-content: center;
    color: #FAFAFA;
    border-color: transparent;

    position: absolute;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);

}

.btn-flashsales:hover{
    background-color: #b81e1e;
}

























@media only screen and (max-width: 815px) {
    .main{
        width: max-content;
        /* width: 100%; */
        /* max-width: none;  */
    }

    
    /* .header-nabar {
        top: 60px;
    }

    .header-menu {
        gap: 70px;
    }

    .logo {
        width: 90px;
    }
    .header__menu-link{
        gap: 24px;
    }

    .search-component-set {
        padding: 7px 10px;
    } */

    .flashsales-time-container{
        padding: 0 30px;
    
    
    }
}

@media only screen and (min-width: 816px) and (max-width:1048px) {
    .main {
        width: max-content; 
        /* width: 100%;
        max-width: none;  */
    }

    
    .flashsales-time-container{
        padding: 0 30px;
    
    
    }
}