:root{
    --text: rgba(250, 250, 250, 1);
    --button: rgba(0, 0, 0, 1);
    --secondary:rgb(245, 245, 245,1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--text);
    font-family: 'Poppins';
}
.gird{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.gird__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
}


/* Reset CSS */


/* Header */
/* .header {
    width: 100%;
    position: relative;
} */

.top-header {
    width: 100%;
    height: 48px;
    background: var(--button, #000000);
    position: relative;
    overflow: hidden;
}

.frame {
    width: 100%;
    height: 48px;
    display: flex;
    /* gap: 231px; */
    align-items: center;
    justify-content: center;
    position: absolute;
    /* right: 136px; */
    /* top: 5px; */

}

.frame-1{
    line-height: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    /* right: 50%;
    transform: translateX(50%); */
}
.frame-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    line-height: 48px;
    height: 48px;
    left: 80%;
    padding-left: 50px;

}

.text-wrapper {
    color: var(--text, #fafafa);
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    align-items: center;
}

.shop-now {
    color: var(--text, #fafafa);

    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Poppins';
    margin-left: 8px;
}

.english {
    color: var(--text, #fafafa);
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 18px;
}

.drop-down {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Navigation Bar */
.header-nabar {
    position: relative;
    top: 48px; /* height of .top-header */
    width: 100%;  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
}

.header-menu {
    display: flex;
    gap: 190px;
    align-items: center;
    justify-content: flex-start;
}
/* 
.logo {
    width: 118px;
    height: 24px;
    position: relative;
} */

.exclusive {
    color: var(--button, #000000);
    font-size: 24px;
    width: 118px;
    height: 24px;
    position: relative;
    top: 0;
    left: 0;
    font-weight: bold;
}

.header__menu-link {
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: flex-start;
}

.home,
.contact,
.about,
.sign-up {
    color: var(--button, #000000);
    font-size: 16px;
    position: relative;
}


/* Search Box */
.header-searh {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
}

.search-component-set {
    background: rgb(185, 179, 179);
    border-radius: 4px;
    padding: 7px 12px 7px 20px;
    display: flex;
    gap: 10px;
    font-size: 12px;
    align-items: center;
}
.header-searh__box{
    display: flex;
    align-items: center;
}

/* .header-searh__text {
    color: var(--text2, #000000);
    opacity: 0.5;
} */


.header-searh__input {
    width: 100%;
    padding: 7px 12px; 
    background: rgb(185, 179, 179);
    border-radius: 4px;
    border: none;
    font-size: 12px; 
    color: var(--text2, #000000);
}

.header-searh__glass {
    width: 24px;
    height: 24px;
}

/* Icon Bar */
.Header-nabar__icon {
    display: flex;
    gap: 16px;
    align-items: center;
}

.iconin {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.seticonin {
    width: 100%;
    height: 100%;
}


.header-line{
    border-style: solid;
    border-color: var(--button, #000000);
    border-width: 0.03125rem 0 0 0;
    opacity: 0.30000001192092896;
    height: 0rem;
    position: relative;
    top: 62px;;
}

/* footer */


.footer__container{
    /* width: 1440px; */
    position: absolute;
    width: 100%; 
    height: 440px;
    /* top: 5462px;
    right: 0; */
    top: 500px;    
    bottom: 0;
    right: 0;
    left: 0;
    padding: 80px 0px 24px 0px;
    gap: 0px;
    opacity: 0px;
    background-color: #000000;

    margin-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* position: fixed; */

    
}

.footer-item-container_inclu_5{
    display: flex;
    width: 1170px;
    /* width: 100%; */
    height: 236px;
    top: 80px;
    left: 135px;
    gap: 87px;
    opacity: 0px;
    /* border: 1px solid red; */
    /* flex-wrap: wrap; */
    
   

}

.footer-item-content-container_1{
    width: 217px;
    height: 188px;
    gap: 16px;
    opacity: 0px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    
}

.footer-item-container-part_1{
    width: 206px;
    height: 124px;
    gap: 24px;
    opacity: 0px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;

    
}

.footer-item-container-inclu__head_and_sub{
    width: 118px;
    height: 76px;
    gap: 24px;
    opacity: 0px;
    /* border: 1.5px solid #FAFAFA ;   */
    display: flex;
    flex-direction: column;
}


.footer-item__heading{
    /* border: 1px solid red; */
    width: 118px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    /* styleName: Heading/24PX Bold; */
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color:#FAFAFA;
    margin: 0;
    
    

}

.footer-item__condition{
    /* border: 1px solid red; */
    width: 101px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    /* styleName: Title/20PX Medium; */
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #FAFAFA;
    margin: 0;  


}

.footer-item__description{
    /* border: 1px solid red; */
    width: 206px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    /* styleName: Title/16PX Regular; */
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#FAFAFA;
    margin: 0;

}

.footer-item-container-part_2{
    display: flex;
    border: 1px solid red;
    width:  217px;
    height: 24px;
    padding: 12px 0px 12px 16px;
    gap: 32px;
    border-radius: 4px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    border-color: #FAFAFA;
    margin-top: 12px;

}

.item-input{
    width: 130px;
    height: 24px;
    gap: 0px;
    opacity: 0.4px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    /* background: #FAFAFA; */
    background: transparent;
    border: none;
    outline: none; 
    color: white;
    

        
}

.item-arrow_container{
    width: 24px;
    height: 24px;
    padding: 3px 2px 3px 2px;
    gap: 0px;
    opacity: 0px;
    
}

.item-arrow__icon{
    width: 20px;
    height: 18px;
    top: 3px;
    left: 2px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    /* border: 1.5px solid #FAFAFA     */
}

.footer-item-container_2{
    width: 175px;
    height: 180px;
    gap: 24px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    
}

.footer-item__heading_2{
    width: 81px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    /* //styleName: Title/20PX Medium; */
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #FAFAFA;
    margin: 0;

        
}

.footer-item-container_content_2{
    width: 175px;
    height: 128px;
    gap: 16px;
    opacity: 0px;
    
}

.footer-item-address{
    width: 175px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    /* //styleName: Title/16PX Regular; */
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FAFAFA;
        
}

.footer-item-mail{
    width: 175px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    /* //styleName: Title/16PX Regular; */
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#FAFAFA;
    display: flex;
    margin-top: 12px;
        
}

.footer-item-phone{
    width: 165px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    /* //styleName: Title/16PX Regular; */
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#FAFAFA;   
    display: flex;
    margin-top: 12px;

}

.footer-item-container_3{
    display: flex;
    flex-direction: column;
    width: 123px;
    height: 236px;
    gap: 24px;
    opacity: 0px;
    
}

.footer-item__heading_3{
    width: 85px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    /* //styleName: Title/20PX Medium; */
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
        
    color:#FAFAFA;
    margin: 0;
        
}

.footer-item-container-content_3{
    width: 123px;
    height: 184px;
    gap: 16px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    
    
}


.footer-item{
    width: 123px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    /* //styleName: Title/16PX Regular; */
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    color: #FAFAFA;
    text-decoration: none;
}

.footer-item-container_4{
    display: flex;
    flex-direction: column;
    width: 123px;
    height: 236px;
    gap: 24px;
    opacity: 0px;
}

.footer-item__heading_4{
    width: 101px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    /* //styleName: Title/20PX Medium; */
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
        
        
    color:#FAFAFA;
    margin: 0;
}

.footer-item-container-content_4{
    width: 123px;
    height: 184px;
    gap: 16px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
}

.footer-item-container_5{
    width: 198px;
    height: 162px;
    gap: 24px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    
}

.footer-container_part_1{
    width: 198px;
    height: 162px;
    gap: 24px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    
}

.footer_part_1-heading{
    width: 148px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    /* //styleName: Title/20PX Medium; */
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #FAFAFA;

    margin: 0;
        
}

.footer__block-items{
    width: 198px;
    height: 110px;
    gap: 8px;
    opacity: 0px;
    
}

.item-heading{
    width: 194px;
    height: 18px;
    gap: 0px;
    opacity: 0.7px;
    /* //styleName: Title/12PX Medium; */
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #FAFAFA;
        
}

.block-body{
    width: 198px;
    height: 84px;
    gap: 8px;
    opacity: 0px;
    display: flex;
    
}

.set-img-qr{
    width: 80px;
    height: 80px;
    padding: 2px 0px 0px 0px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    
}

.block-download{
    width: 110px;
    height: 84px;
    gap: 4px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    
}

.set-img-download{
    width: 110px;
    height: 40px;
    gap: 0px;
    opacity: 0px;

}
.footer_block-icons{
    width: 168px;
    height: 24px;
    gap: 24px;
    opacity: 0px;
    
    
}

.set-icon{
    width: 24px;
    height: 24px;
    padding: 3px 6.5px 3px 7px;
    gap: 0px;
    opacity: 0px;
    
}




@media only screen and (max-width: 770px) {
    .main{
        width: max-content;
    }
    .header-nabar {
        top: 60px;
    }

    .header-menu {
        gap: 70px;
    }

    .logo {
        width: 90px;
    }
    .header__menu-link{
        gap: 24px;
    }

    .search-component-set {
        padding: 7px 10px;
    }
}
@media only screen and (min-width: 713px) and (max-width: 790px) {
    .main {
        width: 100%; 
        max-width: none; 
    }
}
